// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    font-family: Helvetica;
}

.box {
  border:2px #DDD solid;
  border-radius: 4px; margin:5px; padding:5px;
}

#error_explanation > h2{

  color: white;
  text-shadow: 1px 1px 2px #333;
  background-color: red;
  padding: 3px 5px;
}
